.container-collaps {
    width: 100%;

    .collaps {
        @extend .flexBetween;
        background-color: $color_orange;
        border-radius: 5px;
        padding: 15px 20px;

        .arrow {
            cursor: pointer;
            @include set-size(24px, 15px);
            transition: transform .4s linear;
        }

        .rotate {
            transform: rotate(-180deg);
            transition: transform .4s linear;
        }
    }

    .content-collaps {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows .4s linear;

        &.visible {
            visibility: visible;
            grid-template-rows: 1fr;
        }

        .content {
            align-self: end;
            min-height: 0;

            ul,
            p {
                padding: 20px;
                color: $txt_color_black;
            }

            li {
                margin-bottom: 5px;
                color: $txt_color_black;
            }
        }

    }
}