.container-collaps {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid blue;
    overflow: hidden;
    transition: height 1.2s ease-in-out;

    // &.open {
    //     height: 100%; 
    // }

    // &.closed {
    //     height: 0%;
    // }
    .collaps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: $color_orange;
        border-radius: 5px;
        padding: 15px 20px;
        gap: 10px;
        

        .arrow {
            cursor: pointer;
            width: 24px;
            height: 15px;
            transition: transform 1.2s;
        }
        .rotate {
            transform: rotate(-180deg);
            transition: transform 1.2s;
        }
    }
        .content-collaps {
                display: flex;
                position: relative;
                z-index: -1;
                border: 1px solid rgb(251, 255, 0);
                transform: translateY(0);
                transition: transform 1.2s;

                ul,
                p{
                    padding: 20px;
                }
                li {
                    margin-bottom: 5px;
                }
            }
        .translate {
            transform: translateY(-100%);
            transition: transform 1.2s ease-in-out;
        }
}
