.host {
    h2 {
        font-size: 18px;
        font-weight: $font_medium;
        text-align: end;
        flex-basis: 50%;
        color: $color_orange;
    }

    .imgHost {
        border-radius: 100%;
        @include set-size(64px, 64px);
    }
}