.slider {
    @extend .flexRow;
    @include set-size(100%, 415px);
    position: relative;
    border-radius: 25px;

    .slide-img {
        position: absolute;
        @include set-size(100%, 100%);
        object-fit: cover;
        object-position: center;
        border-radius: 25px;
        opacity: 0;
        transition: opacity 1.2s;
    }

    .active {
        opacity: 1;
        transition: opacity 1.2s;
    }

    .arrow {
        position: absolute;
        cursor: pointer;
    }

    .arrow_left {
        left: 15px;
    }

    .arrow_right {
        right: 15px;
    }

    .numerotation {
        position: absolute;
        bottom: 40px;
    }

    .hidden {
        display: none;
    }
}