.contenaire-spinner {
  @include set-size(100%, 100%);
  @include flex($direction: row, $justify: unset, $align: center);
  padding: 50px;

  .spinner {
    @include set-size(80px, 80px);
    border: 10px solid $bg_spinner;
    border-top: 10px solid $color_orange;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}