.containerThumb {
    display: block;
    @include set-size(100%, 340px);
    border-radius: 10px;

    .contentThumb {
        @extend .flexRow;
        @include set-size(100%, 100%);
        position: relative;

        .imgThumb {
            @include set-size(100%, 100%);
            border-radius: 10px;
        }

        .overlay {
            position: absolute;
            @include set-size(100%, 100%);
            border-radius: 10px;
            background: linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, .5));
        }

        h2 {
            -webkit-hyphens: auto;
            hyphens: auto;
            overflow-wrap: break-word;
            position: absolute;
            width: 100%;
            font-size: 18px;
            bottom: 0;
            border-radius: 10px;
            padding: 20px;
            color: white;
            cursor: inherit;
        }
    }
}