.error {
    color: $color-orange;
    gap: 139px;
    margin: 139px;

    h1 {
        font-size: 288px;
    }

    p {
        font-size: 36px;
    }

    h2 {
        font-size: 18px;
        color: $txt_color_black;
        font-weight: 500;
        text-decoration: underline;
    }
}