.home-wrapper {
    @extend .wrapper;
    @extend .margin-50;
    @extend .gap-40;

    .home-logements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: $bg_bleu_clair;
        gap: 40px;
        padding: 40px;
        border-radius: 10px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}