
.home-logements {
    background-color: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px 55px;
    padding: 55px;
    border-radius: 10px;
}