.home-wrapper {
    @extend .wrapper;
    @extend .margin-50;
    @extend .gap-40;

    .home-logements {
        @extend .width-80;
        @extend .flexRow;
        flex-wrap: wrap;
        background-color: $bg_bleu_clair;
        gap: 40px 50px;
        padding: 55px;
        border-radius: 10px;
    }
}