.titleCard {
    h1{
        color: $color_orange;
        font-size: 36px;
        font-weight: $font_medium;
    }
    h2{
        color: $txt_color_black;
        font-size: 18px;
        font-weight: $font_medium;
    }
}
.location-collaps {
    align-items: start;

    .container-collaps {
        flex-basis: 45%;
    }
}
