.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    width: 100%;
    .nav {
      display: flex;
      gap: 57px;
      a {
        color:white;
      }  
    }
    .active {
      text-decoration: underline;
    }
  }