.wrapper-header {
  @extend .wrapper;
  margin-top: 45px;

  .header {
    @extend .flexBetween;

    .nav {
      @extend .flexRow;
      gap: 57px;

      a {
        color: $txt_color_black;
      }
    }

    .active {
      text-decoration: underline;
    }
  }
}