@import './styles/header';
@import './styles/footer';
@import './styles/banner';
@import './styles/spinner';
@import './styles/thumb';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



// .main-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
