@import './styles/header';
@import './styles/footer';
@import './styles/banner';
@import './styles/spinner';
@import './styles/thumb';
@import './styles/collaps';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: white;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

