* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  cursor: default;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: white;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBeteew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 70%;
}

.gap-40 {
  gap: 40px;
}

.gap-20 {
  gap: 20px;
}

.margin-50 {
  margin: 50px;
}

.margin-top-45 {
  margin-top: 45px;
}

.header .nav {
  gap: 57px;
}
.header .nav a {
  color: white;
}
.header .active {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  gap: 30px;
  height: 209px;
  width: 100%;
}

.banner {
  height: 223px;
  display: flex;
  border-radius: 10px;
  position: relative;
}
.banner img {
  width: 100%;
  border-radius: 10px;
}
.banner .home-banner {
  filter: brightness(0.4);
}
.banner .about-banner {
  filter: brightness(0.7);
}
.banner h1 {
  position: absolute;
  margin: auto;
  color: white;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-weight: bold;
  padding: 30px;
}

.loader {
  border: 10px solid grey;
  border-top: 10px solid #FF6060;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tag {
  font-size: 14px;
  font-weight: 700;
  background-color: #FF6060;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
}

.host {
  width: -moz-fit-content;
  width: fit-content;
}
.host h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: end;
  flex-basis: 50%;
  color: #FF6060;
}
.host .imgHost {
  border-radius: 100%;
  width: 64px;
  height: 64px;
}

.slider {
  width: 100%;
  height: 415px;
  position: relative;
  border-radius: 25px;
}
.slider .slide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 25px;
}
.slider .arrow {
  position: absolute;
  cursor: pointer;
}
.slider .arrow_left {
  left: 10px;
}
.slider .arrow_right {
  right: 10px;
}
.slider .numerotation {
  position: absolute;
  bottom: 40px;
}
.slider .hidden {
  display: none;
}

.containerCard {
  display: block;
  width: 340px;
  height: 340px;
  border-radius: 10px;
}
.containerCard .contentCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.containerCard .contentCard .imgCard {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.containerCard .contentCard .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, 0.5));
}
.containerCard .contentCard h2 {
  position: absolute;
  font-size: 18px;
  bottom: 0;
  border-radius: 10px;
  padding: 20px;
  color: white;
  cursor: inherit;
}

.container-collaps {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid blue;
  overflow: hidden;
  max-height: 59px;
  transition: max-height 1.2s linear;
}

.collaps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FF6060;
  border-radius: 5px;
  padding: 15px 20px;
}
.collaps .arrow {
  cursor: pointer;
  width: 24px;
  height: 15px;
  transition: transform 1.2s linear;
}
.collaps .rotate {
  transform: rotate(-180deg);
  transition: transform 1.2s linear;
}

.content-collaps {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 1s;
}
.content-collaps.visible {
  visibility: visible;
  grid-template-rows: 1fr;
}
.content-collaps .content {
  align-self: end;
  min-height: 0;
  transition: visibility 1s;
}
.content-collaps .content ul,
.content-collaps .content p {
  padding: 20px;
}
.content-collaps .content li {
  margin-bottom: 5px;
}

.home-logements {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px 55px;
  padding: 55px;
  border-radius: 10px;
}

.about {
  margin: 38px;
}
.about .wrapper {
  margin: 0;
}

.collaps-about .collaps {
  margin-top: 30px;
}

.card {
  align-items: center;
}

.titleCard h1 {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
}
.titleCard h2 {
  color: rgb(133, 131, 131);
  font-size: 18px;
  font-weight: 500;
}

.test {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.test2 {
  flex-basis: 45%;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}/*# sourceMappingURL=App.css.map */