#root {
  @include set-size(100%, 100%);
  @include flex($direction: column, $justify: unset, $align: center);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: white;
}

img {
  object-fit: cover;
}

.flexRow {
  @include flex($direction: row, $justify: center, $align: center);
}

.flexColumn {
  @include flex($direction: column, $justify: center, $align: center);
}

.flexBetween {
  @include set-size(100%, 100%);
  @include flex($direction: row, $justify: space-between, $align: center);
}

.wrapper {
  @include set-size(90%, 100%);
  @include flex($direction: column, $justify: center, $align: center);
  max-width: 1440px;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 70%;
}

.gap-40 {
  gap: 40px;
}

.gap-20 {
  gap: 20px;
}

.margin-50 {
  margin: 50px;
}

.margin-top-45 {
  margin-top: 45px;
}