@media (max-width: 767.98px) {

    .wrapper {
        width: 95%;
    }

    .wrapper-header {
        margin-top: 20px;

        .header {
            width: 100%;

            .logo {
                width: 145px;
            }

            .nav {
                width: 100%;
                justify-content: flex-end;
                gap: 20px;

                a {
                    font-size: 12px;
                }
            }

            .active {
                text-decoration: underline;
            }
        }
    }

    //banner
    .banner {
        @include set-size(100%, 111px);
        margin: 0 20px;
        box-shadow: none;

        h1 {
            @include flex($direction: column, $justify: unset, $align: unset);
            text-align: start;
            text-shadow: none;
            font-size: 24px;
            padding: 15px;
        }
    }

    //Pages Home
    .home-wrapper {
        margin: 27px;
        gap: 22px;

        .home-logements {
            @include flex($direction: column, $justify: unset, $align: center);
            @include set-size(100%, 100%);
            background-color: transparent;
            gap: 22px;
            padding: 0;

            //Thumb
            .containerThumb {
                display: block;
                max-width: unset;
                @include set-size(100%, 255px);
                border-radius: 10px;

                .contentThumb {
                    @include flex($direction: column, $justify: unset, $align: unset);
                    @include set-size(100%, 100%);
                    position: relative;

                    .imgThumb {
                        @include set-size(100%, 100%);
                        border-radius: 10px;
                    }

                    .overlay {
                        position: absolute;
                        @include set-size(100%, 100%);
                        border-radius: 10px;
                        background: linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, .5));
                    }

                    h2 {
                        position: absolute;
                        font-size: 18px;
                        bottom: 0;
                        border-radius: 10px;
                        padding: 20px;
                        color: white;
                        cursor: inherit;
                    }
                }
            }
        }
    }

    //Page Location
    .location-wrapper {
        margin: 27px 0;
        gap: 10px;

        .slider {
            height: 255px;

            .arrow {
                @include set-size(12px, 20px);
            }

            .numerotation {
                display: none;
            }
        }

        .cardContent {
            flex-direction: column;
            gap: 15px;

            .title-tags {
                width: 100%;

                h1 {
                    font-size: 18px;
                }

                h2 {
                    font-size: 14px;
                }

                .tags {
                    margin-top: 10px;
                    gap: 10px;

                    .tag {
                        font-size: 10px;
                        border-radius: 5px;
                    }

                }
            }

            .rating-host {
                flex-direction: row;
                width: 100%;
                align-items: center;

                .host {
                    order: 1;

                    h2 {
                        font-size: 12px;
                    }

                    .imgHost {
                        @include set-size(32px, 32px);
                    }
                }

                .star {
                    width: 14px;
                }
            }

        }

        .collaps-card {
            flex-direction: column;
            gap: 20px;

            .collaps {
                height: 30px;
                margin-top: 0px;
            }
        }
    }

    //Page About

    .about {
        gap: 20px;
        margin: 19px;

        .wrapper {
            gap: 20px;
            width: auto;
        }
    }

    //Page error
    .error {
        gap: 113px;
        margin: 113px;

        h1 {
            font-size: 96px;
        }


        div {
            display: flex;
            flex-direction: column;
        }

        div,
        span {
            font-size: 18px;
        }

        h2 {
            font-size: 14px;
            text-decoration: underline;
        }
    }

    //collaps
    .collaps-card,
    .collaps-about {
        .collaps {
            height: 30px;

            h2 {
                font-size: 13px;
            }

            .arrow {
                @include set-size(16px, 10px);
            }
        }

        .content-collaps {

            .content {

                ul,
                p {
                    padding: 10px;
                    font-size: 12px;
                }

            }
        }

    }

    //footer
    .footer {
        gap: 15px;

        .text {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            text-align: center;
        }
    }

    //loader
    .contenaire-spinner {
        .spinner {
            border: 5px solid $bg_spinner;
            border-top: 5px solid $color_orange;
            @include set-size(40px, 40px);
        }

    }

}