@media (max-width: 767.98px) {
    .wrapper {
        margin-top: 20px;
    }
    .header {
        width: 90%;
        .logo{
            width: 145px;
        }
        .nav {
            width: 100%;
            justify-content: flex-end;
            gap: 20px;
            a {
              font-size: 12px; 
            }
          }
          .active {
            text-decoration: underline;
          }
      }
    .cardContent {
        flex-direction: column;

        .title-tags {
            width: 100%;
        }
    
        .rating-host {
            flex-direction: row;
            width: 100%;
            margin-top: 20px;
            align-items: center;
            .host {
                order:1;
            }
        }
    
    }
    
    .containerCollaps {
        flex-direction: column;
    }

    .collaps-about {
        width: 80%;
    }

    .error {
        gap: 113px;
        margin: 113px;
        
        h1 {
            font-size: 96px;
        }
    

        div{
            display: flex;
            flex-direction: column;
        }

        div,
        span {
            font-size: 18px;
        }
    
        h2 {
            font-size: 14px;
            text-decoration: underline;
        }
    }
}